div{
    button{
        margin:1em 2em
    }
}

.spacer{
    margin: 1em 2em
}

.navbar{
    justify-content: space-between;
}

.small_container{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.medium_container{
    width: 200px;
    height: 100px;
    margin:10px;
}