<div class="container">
    <div class="ellipse accent-theme">
        <div class="inner-container">
            <app-virtualscroll [items]="items"></app-virtualscroll>
            <app-virtualscroll [items]="items"></app-virtualscroll>
            <app-virtualscroll [items]="items"></app-virtualscroll>
            <app-virtualscroll [items]="items"></app-virtualscroll>
            <app-virtualscroll [items]="items"></app-virtualscroll>       
        </div>
    </div>
    <div class="menu">
        <div class="menu-container">
            <span class="menu-header">Menu</span>
        </div>
    </div>
</div>