//https://material.io/resources/color/#!/?view.left=0&view.right=0
//Color tool to get desired color

$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-amber, 600);
$warn: mat-palette($mat-grey, 300);

$blue-theme:mat-light-theme($primary,$accent,$warn)