//https://material.io/resources/color/#!/?view.left=0&view.right=0
//Color tool to get desired color

$primary-blue-theme: mat-palette($mat-blue, 600);
$accent-blue-theme: mat-palette($mat-amber, 600);
$warn-blue-theme: mat-palette($mat-grey, 300);

$blue-theme:mat-light-theme($primary-blue-theme,$accent-blue-theme,$warn-blue-theme)