@import '~@angular/material/theming';
//Import this so code is neater when specifying styles for color
@import './default-style/main-colors.scss';

@mixin global-class-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background); 

    .basic-theme{
      color: mat-color($foreground, text);
      background-color: mat-color($background, card);
    }
    .primary-theme{
      color: mat-color($primary, default-contrast);
      background-color: mat-color($primary);
    }
    .accent-theme{
      color: mat-color($foreground, text);
      background-color: mat-color($accent);
    }
    .warn-theme{
      color: mat-color($foreground, text);
      background-color: mat-color($warn);
    }
    mat-list, mat-selection-list, mat-nav-list, mat-grid-tile{
      color: mat-color($foreground, text);
      background-color: mat-color($background, card);
      margin: 1em;
      
      &[color="primary"]{
        @include _mat-toolbar-color ($primary); // alternative to importing
      }
      &[color="accent"]{
        @include main-colors ($accent);
      }
      &[color="warn"]{
        @include main-colors ($warn);
      }
    }  
}