//https://material.io/resources/color/#!/?view.left=0&view.right=0
//Color tool to get desired color

$primary-green-theme: mat-palette($mat-green, 800);
$accent-green-theme: mat-palette($mat-lime, 800);
$warn-green-theme: mat-palette($mat-orange, 900);

$green-theme:mat-dark-theme($primary-green-theme,$accent-green-theme,$warn-green-theme)