<h2>Forms</h2>
<div>
  <h3>Input Forms</h3>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput>
    <mat-hint align="end">Min 5 characters</mat-hint>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <mat-label>Nofloat</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-form-field appearance="fill" color="warn">
    <mat-label>Warn Color fill</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-form-field appearance="standard" color="accent">
    <mat-label>Accent Color standard</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-form-field appearance="ouline">
    <mat-label>Primary Color standard</mat-label>
    <input matInput required>
  </mat-form-field>
</div>

<div>
  <h3>Select Forms</h3>
  <mat-form-field>
    <mat-label>Options</mat-label>
    <mat-select [(value)]="selectedValue">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Options Multiple</mat-label>
    <mat-select [(value)]="selectedValue" multiple>
      <mat-option>Clear Selected</mat-option>
      <mat-optgroup label="Header 1">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Header 2">
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-optgroup>    
    </mat-select>
  </mat-form-field>
  {{selectedValue}}
</div>

<div>
  <h3>Auto complete</h3>
  <form>
    <mat-form-field>
      <mat-label>Name (in array)</mat-label>
      <input type="text" matInput [matAutocomplete]="autoName">
      <mat-autocomplete #autoName="matAutocomplete" >
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <form>
    <mat-form-field>
      <mat-label>Name (in object)</mat-label>
      <input type="text" matInput [matAutocomplete]="autoName2">
      <mat-autocomplete #autoName2="matAutocomplete" [displayWith]="display">
        <mat-option *ngFor="let option of optionsObject" [value]="option">{{option.name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <form>
    <mat-form-field>
      <mat-label>Name (with filter)</mat-label>
      <input type="text" matInput [matAutocomplete]="autoName3" [formControl]="myControl">
      <mat-autocomplete #autoName3="matAutocomplete" [displayWith]="display" >
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div>
  <h3>Radio Group</h3>
  <mat-radio-group>
    <mat-radio-button value="1" color="primary">one</mat-radio-button>
    <mat-radio-button value="2"color="accent">two</mat-radio-button>
    <mat-radio-button value="3"color="warn">three</mat-radio-button>
  </mat-radio-group>
</div>

<div>
  <h3>Snackbars</h3>
  <button mat-raised-button 
  (click)="openSnackBar('SnackBar Message','Action Message')">Open Snackbar</button>
  <button mat-raised-button 
  (click)="openCustomSnackBar()">Custom SnackBar</button>

  <button 
  mat-raised-button 
  (click)="notificationService.default('This is default notification')">Default</button>
  <button 
  mat-raised-button 
  (click)="notificationService.info('This is info notification')">Info</button>
  <button 
  mat-raised-button 
  (click)="notificationService.error('This is error notification')">Error</button>
  <button
   mat-raised-button 
   (click)="notificationService.warn('This is warning notification')">Warning</button>
  <button 
  mat-raised-button 
  (click)="notificationService.success('This is success notification')">Success</button>
</div>
